.Footer {
    background-color: #3e2016;
    color: white;
    height: auto;
    width: auto;
}

.FooterCopywright {
    text-align: center;
    padding: 20px;
}

.socialmediaicons {
    padding-left: 10px;
    padding-bottom: 10px;
}

.iconsdesign {
    margin: 5px;
}

@media (max-width: 576px) {
    .Footer {
        height: auto;
        width: auto;
    }

    .FooterCopywright {
        text-align: center;
        transition: 0.5s;
    }

    .socialmediaicons {
        text-align: center;
        transition: 0.5s;
    }
}