.forgetpassword{
    background-image: url('./forgetPassword.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // filter: blur(4px);
    height: 557px;
    width: 100%;
    padding-top: 150px;
    cursor:auto;
}

.forgetpasswordform {
    width: calc(30%);
    background-color: rgb(250, 231, 198);
    border-radius: 20px;
    height: 380px;
    text-align: center;
    margin-left: 37%;
    padding: 10px;

}

.forgetPasswordheading {
    color: #5a4343;

}

.forgetPasswordtextfield,
.forgetPasswordbuttons {
    margin: 20px;
    width: 400px;
}

/* Media query for screens with a maximum width of 768px (typical for mobile screens) */
@media (max-width: 768px) {
    .forgetpassword {
        height: auto;
        padding-top: 100px;
    }

    .forgetpasswordform {
        width: 80%;
        margin-left: 10%;
        height: auto;
    }

    .forgetPasswordtextfield,
    .forgetPasswordbuttons {
        width: 100%;
        margin: 10px 0;
    }
}