.registerpageheading {
    color: #5a4343;
}

.registerpage {
    background-image: url('./registerpagebackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 687px;
    width: 100%;
    margin-top: -20px;
    padding-top: 40px;
}

.registerform {
    width: calc(30%);
    background-color: wheat;
    border-radius: 20px;
    height: 610px;
    text-align: center;
    margin-top: 20px;
    margin-bottom:5px;
    margin-left: 34.4%;
    padding: 10px;
}


/* //textfield and button styles */

.textfield,
.registerformbuttons {
    margin: 20px;
    width: 415px;
    text-align: center;
}