.headerimage{
    background-image:url('./homepageHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed;
    height: 340px;
    background-position-y: -360px;
    //filter: brightness(95%);
}

/* Create a linear gradient overlay to fade the bottom part */
.headerimage::before {
    content: "";
    position: absolute;
    bottom: -7;
    left: 0;
    right: 0;
    top: 170px;
    height: 33.1%; /* Adjust the height for the amount of fading */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none; /* Allows interaction with the image beneath */
}


/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .headerimage {
        height: 300px; /* Adjust the height for smaller screens */
        background-position-y: -130px; /* Adjust the background position */
        transition: 0.5s;
    }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
    .headerimage {
        height: 200px; /* Further adjust the height for even smaller screens */
        background-position-y: -100px; /* Further adjust the background position */
        background-size: cover;
        transition: 0.8s;
    }

    .headerimage::before {
        content: "";
        position: absolute;
        bottom: -7;
        left: 0;
        right: 0;
        top: 170px;
        height: 13%; /* Adjust the height for the amount of fading */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        pointer-events: none; /* Allows interaction with the image beneath */
    }
}